<div class="products-testimonials">
    <div class="products-testimonials__container">
        <div class="products-testimonials__header">
            <h3 class="products-testimonials__title">
                {{ sections.settings.title }}
            </h3>
        </div>
        <div class="products-testimonials__slider" data-testimonials-slider={{ section.settings.enable_slider }}>
            <div class="products-testimonials__row">
                {%- for block in section.blocks -%}
                    <div class="products-testimonials__column" {{ block.shopify_attributes }}>
                        <div class="products-testimonials__wrapper">
                            {%- if block.settings.card_image != blank -%}
                                <div class="testimonial-card__image">
                                    {{ block.settings.card_image | image_url: width: 140 | image_tag: loading: 'lazy' }}
                                </div>
                            {%- endif -%}
                            <div class="testimonial-card__rating">
                                {% assign default_icon = 'icon-star.svg' | file_url %}
                                {% assign stroke_icon = 'stroke-star-icon.svg' | file_url %}

                                {% for i in (1..5) %}
                                    {% if i <= block.settings.card_icon_count %}
                                        <img src="{{ default_icon }}" width="30" height="28" alt="" loading="lazy">
                                    {% else %}
                                        {% comment %}{{ block.settings.card_icon | image_url: width: 30 | image_tag: loading: 'lazy' }}{% endcomment %}
                                        <img src="{{ stroke_icon }}" width="30" height="28" alt="" loading="lazy">
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {%- if block.settings.card_title != blank -%}
                                <h3 class="testimonial-card__title">
                                    {{ block.settings.card_title }}
                                </h3>
                            {%- endif -%}
                            {%- if block.settings.card_review != blank -%}
                                <p class="testimonial-card__review">
                                    {{ block.settings.card_review }}
                                </p>
                            {%- endif -%}
                            {%- if block.settings.author_name != blank -%}
                                <p class="testimonial-card__author-name">
                                    {{ block.settings.author_name }}
                                </p>
                            {%- endif -%}
                            {% assign product = block.settings.product %}
                            {%- if product != blank -%}
                                <a href="{{ product.url }}" class="testimonial-card__related-product">
                                    <span>
                                        {{ product.featured_image | image_url: width: 92 | image_tag: loading: 'lazy' }}
                                        {{ product.title }}
                                    </span>
                                    {% render 'icon-arrow' %}
                                </a>
                            {%- endif -%}
                        </div>
                    </div>
                {%- endfor -%}
            </div>
        </div>
        <div class="testimonial-card__button testimonial-card__button_next">{% render 'icon-caret' %}</div>
        <div class="testimonial-card__button testimonial-card__button_prev">{% render 'icon-caret' %}</div>
        <div class="testimonial__swiper-pagination"></div>
    </div>
</div>

{% schema %}
{
  "name": "Products testimonials",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Why People Love Us",
      "label": "Title"
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "default": false,
      "label": "Enable slider on mobile devices",
      "info": "Slider will work starting from 768px screen resolution"
    }
  ],
  "blocks": [
    {
      "name": "Testimonial card",
      "type": "testimonial_card",
      "settings": [
        {
          "type": "image_picker",
          "id": "card_image",
          "label": "Card image"
        },
        {
          "type": "range",
          "label": "Number of Stars",
          "id": "card_icon_count",
          "min": 1,
          "max": 5,
          "default": 5
        },
        {
          "type": "text",
          "id": "card_title",
          "default": "Card title massage",
          "label": "Card title"
        },
        {
          "type": "textarea",
          "id": "card_review",
          "label": "Card review",
          "default": "Card review massage"
        },
        {
          "type": "text",
          "id": "author_name",
          "default": "Author name",
          "label": "Author name"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Related product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name":  "Products testimonials",
      "settings": {
      }
    }
  ],
  "enabled_on": {
    "templates": ["*"]
  }
}
{% endschema %}
